<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARVEL</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/inicio">
                    <div class="contenedor-logo-marvel">
                        <img src="css/img/logo_marvel.png" alt="Logotipo de MARVEL">
                    </div>
                </a>
                <nav class="navegacion">
                    <a href="/catalogo">Catalogo</a>
                    <a href="/personajes">Personajes</a>
                    <div class="boton-iniciar-sesion">
                        <a href="/index">INICIAR SESION </a>
                    </div>
                    
                    
                </nav>
            </div>
            <h1>PAGINA PROTOTIPO DE MARVEL</h1>
        </div> <!-- contenedor -->
    </header>


    <section class="contenedor-seccion">
        <h2 class="fw-300 centrar-texto">Sobre MARVEL</h2>


        <div class="iconos-nosotros">

            <div class="icono">
                <img src="css/img/triangulo.png" alt="icono triangulo">
                <h3>HISTORIA</h3>
                <p>Marvel Comics es un gigante de los cómics, creado en 1939. Su vasto universo incluye icónicos superhéroes como Spider-Man, Iron Man, los X-Men y Los Vengadores, generando películas exitosas que han dominado la cultura pop actual.
                </p>
            </div>


            <div class="icono">
                <img src="css/img/triangulo.png" alt="icono triangulo">
                <h3>CEO</h3>
                <P>Los CEO actuales de Marvel son Kevin Feige, presidente de Marvel Studios 
                    y arquitecto principal del Universo Cinematográfico de Marvel, y Ike 
                    Perlmutter, ex CEO de Marvel Entertainment, responsable de operaciones y 
                    estrategia.
                </P>
            </div>

            <div class="icono">
                <img src="css/img/triangulo.png" alt="icono triangulo">
                <h3>FUNDADORES</h3>
                <P>Stan Lee y Jack Kirby son dos de los principales fundadores de Marvel 
                    Comics. Juntos, crearon icónicos superhéroes como Spider-Man, Hulk, Los 
                    Cuatro Fantásticos y X-Men, dejando un legado duradero en la cultura pop.
                </P>
            </div>
        </div>
    </section>

    <main class="seccion contenedor">
        <H2 class="fw-300  centrar-texto">Comics</H2>

        <div class="contenedor-anuncios">
            <div class="anuncio">
                <img src="css/img/comic/amazing_sp.png" alt="Spider-Man">
                <div class="contenido-anuncio">
                    <h3>The Amazing Spider-Man</h3>
                    <p>Las aventuras de Peter Parker, un estudiante de secundaria que adquiere habilidades de araña y se convierte en el amado superhéroe Spider-Man. </p>
                    <p class="precio ">$400</p>                                                     
                    <a href="/catalogo" class="boton boton-rojo d-block">COMPRAR</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="css/img/comic/avengers.jpg" alt="The Avengers">
                <div class="contenido-anuncio">
                    <h3>The Avengers</h3>
                    <p>Reúne a héroes como Iron Man, Capitán América, Thor, Hulk y otros para formar un equipo que lucha contra amenazas que ningún héroe podría enfrentar solo.
                    </p>
                    <p class="precio">$400</p>                            
                    <a href="/catalogo" class="boton boton-rojo d-block">COMPRAR</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="css/img/comic/x-men.jpg" alt="X-MEN">
                <div class="contenido-anuncio">
                    <h3>X-Men</h3>
                    <p>Un grupo de mutantes dirigidos por el Profesor X, luchan por la coexistencia pacífica entre mutantes y humanos, defendiendo un mundo que los teme.

                    </p>
                    <p class="precio">$400</p>
                    
                    <a href="/catalogo" class="boton boton-rojo d-block">COMPRAR</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="css/img/comic/4fantasticos.jpg" alt="4 FantasticOS">
                <div class="contenido-anuncio">
                    <h3>Fantastic Four </h3>
                    <p>Mr. Fantástico, la Mujer Invisible, la Antorcha Humana y La Cosa exploran el espacio y enfrentan desafíos cósmicos como equipo.
                    </p>
                    <p class="precio">$400</p>
                    
                    <a href="/catalogo" class="boton boton-rojo d-block">COMPRAR</a>
                </div>
            </div>

        </div>
        <div class="ver-todas">
        <a href="/catalogo" class="boton boton-amarillo">VER CATALOGO</a>
    </div>
    </main>

    <section class="imagen-personajes" >
        <div class="contenedor contenido-contacto">
            
            <h2>PERSONAJES</h2>
            <p>Encuentra los personajes mas emblematicos</p>
            <a href="/personajes" class="boton boton-rojo">VER PERSONAJES</a>
        </div>
    </section>


    <div class="seccion-inferior contenedor">
        <section class="blog">
            <h3 class="centrar-texto fw-300 seccion">DATOS CURIOSOS</h3>
    
            <article class="entrada-blog">
                <div class="imagen">
                    <img src="css/img/mcu.PNG" alt="MCU">
                </div>
                <div class="texto-entrada">
                    <a href="#">
                        <h4>El Universo Cinematográfico de Marvel (MCU)</h4>
                    </a>                    
                    <p>La franquicia cinematográfica de Marvel es la más exitosa en la historia del cine, 
                        con películas interconectadas y exitosas como "Avengers: Endgame", que se convirtió 
                        en la película más taquillera de todos los tiempos.</p>
                </div>
            </article>
    
            <article class="entrada-blog">
                <div class="imagen">
                    <img src="css/img/cap_mar.jpg" alt="Entrada de blog">
                </div>
                <div class="texto-entrada">
                    <a href="#">
                        <h4>El origen del nombre "Marvel"</h4>
                    </a>                    
                    <p>La empresa ha tenido varios nombres antes de convertirse en Marvel Comics;
                         se llamó Timely Publications y Atlas Comics antes de adoptar el nombre
                          que todos conocemos hoy.</p>
                </div>
            </article>
        </section>
    
        <section class="testimoniales">
            <h3 class="centrar-texto fw-300 seccion">FRASES EMBLEMATICAS</h3>
            <div class="testimonial">
                <blockquote>"With great power, comes great responsibility"</blockquote>
                <p>-TIO BEN (Spider-Man(2002)) </p>
            </div>
        </section>
    </div>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                    <a href="/catalogo">Catalogo</a>
                    <a href="/personajes">Personajes</a>                    
                    <a href="/index">INICIAR SESION </a>                              
            </nav>
            <p class="copyright">Todos los derechos reservados 2024 &copy;</p>
        </div>
    </footer>
</body>

</html>