<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARVEL</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/inicio">
                    <div class="contenedor-logo-marvel">
                        <img src="css/img/logo_marvel.png" alt="Logotipo de MARVEL">
                    </div>
                </a>
                <nav class="navegacion">
                    <a href="/catalogo">Catalogo</a>
                    <a href="/personajes">Personajes</a>
                    <div class="boton-iniciar-sesion">
                        <a href="/index">INICIAR SESION </a>
                    </div>
                    
                    
                </nav>
            </div>
            <h1>P  E  R  S  O  N  A  J  E  S</h1>
        </div> <!-- contenedor -->
    </header>


    

    <main class="contenedor-seccion">
        <H2 class="fw-300  centrar-texto">PERSONAJES</H2>

        <div class="contenedor-personajes">
            <div class="anuncio">
                <img src="css/img/personajes/spiderman.png" alt="Spider-Man">
                <div class="contenido-anuncio-p">
                    <h3>Spider-Man</h3>
                    <p>Adolescente mordido por una araña radioactiva, con habilidades arácnidas y un sentido de responsabilidad como héroe.</p>
                    
                </div>
            </div>

            <div class="anuncio-p">
                <img src="css/img/personajes/ironman.png" alt="The Avengers">
                <div class="contenido-anuncio-p">
                    <h3>Iron Man </h3>
                    <p> (Tony Stark) Genio multimillonario, filántropo y playboy, creador de la armadura tecnológica que lo convierte en un superhéroe.
                    </p>
                    
                </div>
            </div>

            <div class="anuncio-p">
                <img src="css/img/personajes/capitan_america.png" alt="X-MEN">
                <div class="contenido-anuncio-p">
                    <h3>Captain America </h3>
                    <p>(Steve Rogers)Soldado mejorado con un suero súper soldado, líder con un sentido moral y habilidades físicas mejoradas.

                    </p>
                    
                </div>
            </div>

            <div class="anuncio-p">
                <img src="css/img/personajes/hulk.png" alt="4 FantasticOS">
                <div class="contenido-anuncio-p">
                    <h3>Hulk</h3>
                    <p> (Bruce Banner): Científico expuesto a radiación gamma, transformándose en un monstruo verde con una fuerza colosal.
                    </p>
                    
                </div>
            </div>

            <div class="anuncio-p">
                <img src="css/img/personajes/thor.png" alt="4 FantasticOS">
                <div class="contenido-anuncio-p">
                    <h3>Thor</h3>
                    <p>Príncipe asgardiano, dios del trueno, posee un martillo encantado capaz de controlar el clima.
                    </p>
                    
                </div>
            </div>
        </div>

<!--************      2   **************-->
<br>
<div class="contenedor-personajes">
    <div class="anuncio">
        <img src="css/img/personajes/black_widow.png" alt="Spider-Man">
        <div class="contenido-anuncio-p">
            <h3>Black Widow</h3>
            <p>(Natasha Romanoff): Espía rusa y experta en combate cuerpo a cuerpo, con habilidades de infiltración y manipulación.</p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/dr_strange.png" alt="The Avengers">
        <div class="contenido-anuncio-p">
            <h3>Doctor Strange</h3>
            <p> (Stephen Strange): Neurocirujano convertido en hechicero maestro de las artes místicas y protector de dimensiones.
            </p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/wolverine.png" alt="X-MEN">
        <div class="contenido-anuncio-p">
            <h3>Wolverine </h3>
            <p> (Logan): Mutante con garras retráctiles de adamantium y capacidad de regeneración, miembro de los X-Men.
            </p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/los-4-fantasticos.jpg" alt="4 FantasticOS">
        <div class="contenido-anuncio-p">
            <h3>Los Cuatro Fantásticos: </h3>
            <p> Equipo conformado por Mr. Fantastic, Invisible Woman, Human Torch y The Thing, exploradores cósmicos con habilidades únicas.           </p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/black_panther.jpg" alt="4 FantasticOS">
        <div class="contenido-anuncio-p">
            <h3>Black Panther </h3>
            <p>(T'Challa): Rey de Wakanda, posee habilidades mejoradas por un corazón de vibranio y lidera como el Pantera Negra.
            </p>
            
        </div>
    </div>
</div>

<!--*************     3    *************-->
<br>
<div class="contenedor-personajes">
    <div class="anuncio">
        <img src="css/img/personajes/ANT_MAN.png" alt="Spider-Man">
        <div class="contenido-anuncio-p">
            <h3>Ant-Man </h3>
            <p>(Scott Lang): Héroe capaz de cambiar de tamaño con un traje especial y controlar hormigas para la lucha contra el crimen.


            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/bruja_escarlata.png" alt="The Avengers">
        <div class="contenido-anuncio-p">
            <h3>Scarlet Witch </h3>
            <p> (Wanda Maximoff): Mutante con poderes telepáticos y de alteración de la realidad, parte de los Vengadores.
           </p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/vision.png" alt="X-MEN">
        <div class="contenido-anuncio-p">
            <h3>Vision</h3>
            <p> Androide creado por Ultron y dotado con una gema del infinito, con poderes físicos y mentales únicos.
            </p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/capitana_marvel.png" alt="4 FantasticOS">
        <div class="contenido-anuncio-p">
            <h3>Captain Marvel </h3>
            <p> (Carol Danvers): Piloto con poderes cósmicos, capaz de volar y manipular energía.
            </p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/ojo_halcon.png" alt="4 FantasticOS">
        <div class="contenido-anuncio-p">
            <h3>Hawkeye  </h3>
            <p>(Clint Barton): Experto arquero y luchador, miembro destacado de los Vengadores.
            </p>
            
        </div>
    </div>
</div>
<!--************    4   **************-->
<br>
<div class="contenedor-personajes">
    <div class="anuncio">
        <img src="css/img/personajes/groot.jpg" alt="Spider-Man">
        <div class="contenido-anuncio-p">
            <h3>Groot: </h3>
            <p>Ser arbóreo con habilidades regenerativas y la capacidad de decir solo "Soy Groot", parte de los Guardianes de la Galaxia.
            </p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/rocket.png" alt="The Avengers">
        <div class="contenido-anuncio-p">
            <h3>Rocket Raccoon:</h3>
            <p>  Mapache genéticamente modificado, inteligente y hábil en el combate, también es parte de los Guardianes de la Galaxia.
            </p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/daredevil.png" alt="X-MEN">
        <div class="contenido-anuncio-p">
            <h3>Daredevil</h3>
            <p> (Matt Murdock): Abogado ciego con habilidades sensoriales mejoradas, lucha contra el crimen en Hell's Kitchen.
            </p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/punisher.jpg" alt="4 FantasticOS">
        <div class="contenido-anuncio-p">
            <h3>Punisher  </h3>
            <p> (Frank Castle): Veterano de guerra convertido en vigilante implacable con habilidades en combate y armamento.
            </p>
            
        </div>
    </div>

    <div class="anuncio-p">
        <img src="css/img/personajes/doctor_doom.png" alt="4 FantasticOS">
        <div class="contenido-anuncio-p">
            <h3>Doctor Doom </h3>
            <p>(Victor Von Doom): Genio científico y gobernante de Latveria, principal enemigo de Los Cuatro Fantásticos.
            </p>
            
        </div>
    </div>
</div>


        <div class="ver-todas">
        <a href="/catalago" class="boton boton-amarillo">VER CATALOGO</a>
    </div>
    </main>

    <section class="imagen-personajes" >
        <div class="contenedor contenido-contacto">
            <h2>PERSONAJES</h2>
            <p>Encuentra los personajes mas emblematicos</p>
            <a href="/personajes" class="boton boton-rojo">VER PERSONAJES</a>
        </div>
    </section>


    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
               <a href="/catalogo">Catalogo</a>
                    <a href="/personajes">Personajes</a>                    
                    <a href="/index">INICIAR SESION </a>    
            </nav>
            <p class="copyright">Todos los derechos reservados 2024 &copy;</p>
        </div>
    </footer>
</body>

</html>