<!-- recover-password.hbs -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
     <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/estilos.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>

  <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/INDEX.HTML">
                    <div class="contenedor-logo-marvel">
                        <img src="css/img/logo_marvel.png" alt="Logotipo de MARVEL">
                    </div>
                </a>
                <nav class="navegacion">
                    <a href="/catalogo">Catalogo</a>
                    <a href="/personajes">Personajes</a>
                    <a href="/register">Registrate</a>
                    <div class="boton-iniciar-sesion">
                        <a href="/index">Iniciar Sesion </a>
                    </div>
                    
                    
                </nav>
            </div>
            <h1>INICIAR SESION</h1>
        </div> <!-- contenedor -->
    </header>


    <content>
    <div class="loginForm">
        <div class="login">
            <h1>Rec Contraseña</h1>
        </div>

    
    <div class="inputForm">  
    <form action="/update-password" method="post">
        <div class="username">
            <div class="userEmail" >
                <label for="email"> CORREO </label>
                <input type="email" id="email" name="email" required placeholder="CORREO"><br>
            </div>

        <div class="SecQ">
            <div class="secQForm">
                <label for="secQuestion"> PRE SEG</label>
                <input type="text" id="secQuestion" name="secQuestion" required placeholder="Pregunta de Seguridad"><br>
            </div> 
        </div>

        <div class="secA">
            <div class="secAForm">
                <label for="secAnswer"> RESPUESTA</label>
                <input type="password" id="secAnswer" name="secAnswer" required placeholder="Respuesta"><br>
            </div> 
        </div>            

        <button type="submit" id="loginBtn">Cambiar</button>
    
    </form>
    </div>
</content>
</body>
</html>
